
@font-face
  font-family: RedHatDisplay;
  src: url('/fonts/RedHatDisplay-VariableFont_wght') format('ttf');

@font-face
  font-family: RedHatText;
  src: url('/fonts/RedHatText-VariableFont_wght') format('ttf');

.content
  font-family: RedHatText, sans-serif

.navbar
  background-color: black!important

.site-name
  color: white!important
  font-family: RedHatDisplay, sans-serif
  font-weight: 700

#main-title
  font-family: RedHatDisplay, sans-serif

.links
  background-color: black!important
  &:hover
    color: #EE0000

.router-link-active
  color: white!important
  font-weight: bold

.nav-item
  color: white!important

.nav-link:hover
  color: #EE0000!important
